.customBackground {
    background-image: url('../components/images/cream.jpg');
    /* background-size:50%;
    background-position:  center; */
  }
  .hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }